<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1, user-scalable=no">
    <title>RealVideo</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div style="max-width:780px;margin-left: auto;margin-right: auto;">
        <p><img src="/favicon.ico" width="20" height="20"> RealVideo</p>
        <div class="items">
        <% include data.html %>
        </div>
        <div class="gotop hide">
          <a title="返回顶部" href="javascript:;"></a>
        </div>
    </div>
    <div class="tip" style="display: none;"></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
